section
    .banner__content
        .container
            .row
                .col-12
                    h1.banner__title Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    img.banner__image.mx-auto.d-block.d-sm-none(src="images/header/header_mob.png", alt="mobile image")
                    h2.banner__desc Sed do eiusmod tempor incididunt ut labore et dolore
                .col-6.col-md-12    
                    h3.banner__subtitle Lorem ipsum:
                .col-6.d-block.d-md-none
                    .banner-mobile__buttons.d-flex.justify-content-end
                        a.banner-mobile__btn(href='javascript:void(0)')
                            img.banner__img(src="images/header/app_mob.svg", alt="app mobile store")
                        a.banner-mobile__btn(href='javascript:void(0)')
                            img.banner__img(src="images/header/google_mob.svg", alt="google mobile store")
                .col-12.d-none.d-md-block
                    .banner__buttons.d-flex.justify-content-center
                        a.banner__btn(href='javascript:void(0)')
                            img.banner__img(src="images/header/app.svg", alt="app store")
                        a.banner__btn(href='javascript:void(0)')
                            img.banner__img(src="images/header/google.svg", alt="google store")