.slider {
  padding-bottom: 187px;
  &__title {
    padding-top: 129px;
    font-weight: 300;
    font-size: 35px;
    line-height: 48px;
    color: $mainColor;
  }
  &__block {
    padding-top: 104px;
  }

  &__content {
    position: relative;
  }

  &__content:before,
  &__content:after {
    font-family: 'FontAwesome';
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: white;
    color: black;
    border-radius: 50%;
    text-align: center;
    padding-top: 12px;
    margin-top: -15px;
  }
  &__content:before {
    content: '\f053';
    margin-left: -15px;
  }
  &__content:hover:before,
  &__content:hover:after {
    cursor: pointer;
  }

  &__content:after {
    content: '\f054';
    right: 0;
  }

  &__desc {
    padding-left: 143px;
    font-style: italic;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: -0.8px;
  }
  &__txt {
    padding-left: 143px;
    padding-right: 170px;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.401333px;
  }
}
