.set {
  padding-bottom: 255px;
  @media screen and (max-width: 575px) {
    padding-bottom: 77px;
  }

  &__title {
    font-weight: 300;
    font-size: 35px;
    line-height: 48px;
    text-align: center;

    @media screen and (max-width: 575px) {
      font-size: 24px;
      line-height: 33px;
      text-align: left;
      margin-top: 81px;
      margin-bottom: 64px;
    }
  }
  &__subtitle {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.630667px;
  }
  &__item {
    padding-left: 68px;
    margin-top: 71px;

    @media screen and (max-width: 575px) {
      padding-left: 68px;
      margin-top: 0;
    }

    &--center {
      padding-left: 107px;
      @media screen and (max-width: 575px) {
        padding-left: 68px;
        margin-top: 38px;
        margin-right: 1px;
      }
    }

    &--right {
      padding-left: 163px;
      @media screen and (max-width: 575px) {
        padding-left: 68px;
        margin-top: 36px;
        margin-left: 3px;
      }
    }

    &:before {
      content: '';
      position: absolute;
      width: 47px;
      height: 47px;
      background-color: #c4c4c4;
      border-radius: 50%;
      margin-left: -69px;
      margin-top: -5px;
      @media screen and (max-width: 575px) {
        margin-left: -67px;
      }
    }
  }
  &__txt {
    padding-top: 5px;
    font-weight: 300;
    font-size: 17px;
    line-height: 23px;
    letter-spacing: 0.487333px;
    color: #adadad;
    margin-right: 25px;
    @media screen and (max-width: 575px) {
      margin-right: 0;
    }
  }
}
