section.set
    .container
        .row
            .col-12
                h2.set__title Ullamcorper dignissim
            .col-12.col-md-4
                .set__item.mr-0.mr-md-5
                    h3.set__subtitle Lectus arcu
                    p.set__txt Bibendum at varius. Turpis nunc eget lorem dolor sed viverra ipsum. Tortor consequat id porta nibh venenatis.
            
            .col-12.col-md-4
                .set__item.set__item--center
                    h3.set__subtitle Morbi tincidunt
                    p.set__txt Ugue interdum velit. Ut placerat orci nulla pellentesque dignissim enim sit amet. Ut sem nulla pharetra diam sit amet nisl suscipit. Tellus in hac habitasse platea. 
            
            .col-12.col-md-4
                .set__item.set__item--right
                    h3.set__subtitle Diam phasellus
                    p.set__txt Vestibulum lorem sed risus ultricies tristique nulla. Ullamcorper dignissim cras tincidunt lobortis feugiat vivamus at.


