section
    .get
        .container
            .row
                .col-12
                    h2.set__title.text-center Lorem ipsum!
                .col-12.d-none.d-md-block
                    .get__buttons.banner__buttons.d-flex.justify-content-center
                        a.banner__btn(href='javascript:void(0)')
                            img.banner__img(src="images/header/app.svg", alt="app store")
                        a.banner__btn(href='javascript:void(0)')
                            img.banner__img(src="images/header/google.svg", alt="google store")
                .col-12.d-block.d-md-none
                    .banner-mobile__buttons.d-flex.justify-content-center
                        a.banner-mobile__btn(href='javascript:void(0)')
                            img.banner__img(src="images/header/app_mob.svg", alt="app mobile store")
                        a.banner-mobile__btn(href='javascript:void(0)')
                            img.banner__img(src="images/header/google_mob.svg", alt="google mobile store")