.nav {
  background-color: black;
  padding-top: 30px;

  &__el {
    content: '';
    display: block;
    width: 43px;
    height: 43px;
    background-color: #c4c4c4;
    border-radius: 50%;
  }

  &__img {
    margin-left: 12px;
  }

  &__list {
    margin-left: 43px;
  }
  &__link {
    font-weight: 600;
    font-size: 18px;
    line-height: 48px;
    color: white;
    transition: all 0.3s linear;

    &:hover {
      text-decoration: none;
      color: #0dc78f;
    }
  }
}
