nav.nav
    .container
        .row.justify-content-between
            .col-2
                .nav__logo
                    a.d-flex(href="javascript:void(0)")
                        .nav__el
                        img.nav__img(src="images/nav/logo.svg", alt="logo")
            .col-4
                .nav__menu
                    ul.nav__list.d-flex.justify-content-between
                        li.nav__item
                            a.nav__link(href="javascript:void(0)") Lorem ipsum
                        li.nav__item
                            a.nav__link(href="javascript:void(0)") Lorem ipsum
                        li.nav__item
                            a.nav__link(href="javascript:void(0)") Lorem ipsum
