.second-widget {
  padding-bottom: 322px;
  @media screen and (max-width: 575px) {
    padding-bottom: 0;
  }

  &__block {
    margin-left: 103px;

    @media screen and (max-width: 575px) {
      margin-left: 0;
    }
  }
  &__img {
    @media screen and (max-width: 575px) {
      height: 388px;
      margin-top: 51px;
    }
  }

  &__title {
    margin-top: 57px;
    font-weight: 600;
    font-size: 40px;
    line-height: 54px;

    @media screen and (max-width: 575px) {
      margin-top: 99px;
      margin-left: 0;
      font-size: 24px;
      line-height: 33px;
    }
  }

  &__item {
    margin-left: 72px;
    margin-top: 60px;

    &:before {
      content: '';
      position: absolute;
      width: 47px;
      height: 47px;
      background-color: #c4c4c4;
      border-radius: 50%;
      margin-left: -69px;
      margin-top: -3px;
    }
    &:nth-child(2) {
      margin-top: 58px;

      @media screen and (max-width: 575px) {
        margin-top: 58px;
      }
    }
    &:last-child {
      margin-top: 55px;
      @media screen and (max-width: 575px) {
        margin-top: 61px;
      }
    }
  }
  &__subtitle {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.2px;
    color: #fbfbfb;

    @media screen and (max-width: 575px) {
      font-size: 20px;
      line-height: 23px;
    }
  }
  &__txt {
    margin-top: 20px;
    font-weight: 300;
    font-size: 17px;
    line-height: 23px;
    letter-spacing: 0.4px;
    color: #adadad;
    letter-spacing: 0.5px;
    @media screen and (max-width: 575px) {
      margin-right: 17px;
    }
  }
}
