section.widget
    .container
        .row
            .col-6.d-none.d-md-block
                img.img-fluid(src="./images/second__widget/img2.png", alt="second image")
            .col-12.col-md-6
                .widget__block.second-widget__block
                    h2.widget__title Ut placerat orci nulla pellentes
                    img.d-block.d-md-none.widget-mobile__img(src="./images/second__widget/img2.png", alt="second mobile image")
                    ul.widget__items
                        li.widget__item.mr-0
                            h3.widget__subtitle Vestibulum rhoncus
                            p.widget__txt At auctor urna nunc id cursus metus aliquam. Sit amet aliquam id diam maecenas ultricies mi eget.  
                        li.widget__item.mr-0
                            h3.widget__subtitle.pt-1.pt-md-0 Lectus arcu
                            p.widget__txt Bibendum at varius. Turpis nunc eget lorem dolor sed viverra ipsum. Tortor consequat id porta nibh venenatis.  
                        li.widget__item
                            h3.widget__subtitle.pt-md-0 Montes nascetur
                            p.widget__txt ridiculus mus mauris vitae ultricies leo. Libero justo laoreet sit amet. Morbi tincidunt augue interdum velit.