section.second-widget
    .container
        .row
            .col-6.d-none.d-md-block
                img.img-fluid(src="./images/second__widget/img2.png", alt="second image")
            .col-12.col-md-6
                .second-widget__block
                    h2.second-widget__title Ut placerat orci nulla pellentes
                    img.d-block.d-md-none.second-widget__img.img-fluid(src="./images/second__widget/img2.png", alt="second mobile image")
                    .second-widget__items
                        .second-widget__item
                            h3.second-widget__subtitle Vestibulum rhoncus
                            p.second-widget__txt At auctor urna nunc id cursus metus aliquam. Sit amet aliquam id diam maecenas ultricies mi eget.  
                        .second-widget__item
                            h3.second-widget__subtitle.pt-1.pt-md-0 Lectus arcu
                            p.second-widget__txt Bibendum at varius. Turpis nunc eget lorem dolor sed viverra ipsum. Tortor consequat id porta nibh venenatis.  
                        .second-widget__item
                            h3.second-widget__subtitle.pt-1.pt-md-0 Montes nascetur
                            p.second-widget__txt ridiculus mus mauris vitae ultricies leo. Libero justo laoreet sit amet. Morbi tincidunt augue interdum velit.