section.footer
    .container
        .row
            .col-12
                h2.footer__title Lorem ipsum!
            .col-5.mx-auto
                        .footer__buttons.d-flex.justify-content-around
                            a.footer__btn.ml-1(href='javascript:void(0)')
                                img.footer__img(src="images/header/app.svg", alt="app store")
                            a.footer__btn.mr-1(href='javascript:void(0)')
                                img.footer__img(src="images/header/google.svg", alt="google store")