.footer {
  &__title {
    margin-top: 4px;
    font-weight: 300;
    font-size: 35px;
    line-height: 48px;
    text-align: center;
  }
  &__buttons {
    margin-top: 56px;
    padding-bottom: 150px;
  }
}
