section.widget
    .container
        .row
            .col-lg-6.order-2.order-lg-1
                h2.widget__title Viverra tellus in hac habitasse platea dictumst
                ul.widget-first__items
                    li.widget__item
                        h3.widget__subtitle Vestibulum rhoncus
                        p.widget__txt At auctor urna nunc id cursus metus aliquam. Sit amet aliquam id diam maecenas ultricies mi eget.  
                    li.widget__item
                        h3.widget__subtitle Lectus arcu
                        p.widget__txt Bibendum at varius. Turpis nunc eget lorem dolor sed viverra ipsum. Tortor consequat id porta nibh venenatis.  
                    li.widget__item
                        h3.widget__subtitle Montes nascetur
                        p.widget__txt ridiculus mus mauris vitae ultricies leo. Libero justo laoreet sit amet. Morbi tincidunt augue interdum velit.
                a.widget__btn.d-flex.align-items-center.justify-content-center(href="javascript:void(0)") Lorem ipsum
            .col-lg-6.order-1.order-lg-2
                img.d-none.d-md-block.widget__img.widget-first__img.img-fluid(src="./images/first-widget/img1.png", alt="first image")
                img.d-block.d-md-none.widget__img.widget-first__img(src="./images/first-widget/img1_mob.png", alt="first mobile image")

        
                 

