section.first-widget
    .container
        .row
            .col-6
                h2.first-widget__title Viverra tellus in hac habitasse platea dictumst
                .first-widget__items
                    .first-widget__item
                        h3.first-widget__subtitle Vestibulum rhoncus
                        p.first-widget__txt At auctor urna nunc id cursus metus aliquam. Sit amet aliquam id diam maecenas ultricies mi eget.  
                    .first-widget__item
                        h3.first-widget__subtitle Lectus arcu
                        p.first-widget__txt Bibendum at varius. Turpis nunc eget lorem dolor sed viverra ipsum. Tortor consequat id porta nibh venenatis.  
                    .first-widget__item
                        h3.first-widget__subtitle Montes nascetur
                        p.first-widget__txt ridiculus mus mauris vitae ultricies leo. Libero justo laoreet sit amet. Morbi tincidunt augue interdum velit.
                a.first-widget__btn.d-flex.align-items-center.justify-content-center(href="javascript:void(0)") Lorem ipsum
            img.first-widget__img.img-fluid(src="./images/first-widget/img1.png", alt="first image")
        
                 

