<!DOCTYPE html>
    html(lang="en")
        include head.pug
        body
            include blocks/header/_header.pug
            main
                include blocks/slider/_slider.pug
            
            include scripts.pug
        
            
            
