<!DOCTYPE html>
    html(lang="en")
        include head.pug
        body
            include blocks/header/_header.pug
            main
                include blocks/slider/_slider.pug
                include blocks/first-widget/_first-widget.pug
                include blocks/second-widget/_second-widget.pug
                include blocks/set/_set.pug
                include blocks/footer/_footer.pug
                
            
            include scripts.pug
        
            
            
