<!DOCTYPE html>
    html(lang="en")
        head
            meta(charset="UTF-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            meta(http-equiv="X-UA-Compatible", content="ie=edge")
            meta(name="description", content="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate omnis ipsum at eius voluptas tenetur! Unde sint tenetur aspernatur dolore iste sunt est molestias, asperiores soluta totam suscipit, dicta hic!")
            link(rel="stylesheet", href="css/style.css")
            link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
            title Lorem ipsum dolor sit amet consectetur adipisicing.
        body
            include blocks/header/_header.pug
            main
                include blocks/banner/_banner.pug
                include blocks/slider/_slider.pug
                include blocks/first-widget/_first-widget.pug
                include blocks/second-widget/_second-widget.pug
                include blocks/set/_set.pug
                include blocks/get/_get.pug
            include blocks/footer/_footer.pug
            
            script(src="https://kit.fontawesome.com/b7ba7defb8.js" crossorigin="anonymous")            
