header.header
        .container
            nav.header__nav
                .row.justify-content-between
                    .col-12.d-block.d-md-none
                        .burger__menu
                            input#checkbox(type='checkbox')
                            label.burger__button(for='checkbox')
                                span
                            ul.burger__list
                                li.burger__logo
                                    a.d-flex.justify-content-center(href="javascript:void(0)")
                                        img.nav__img(src="images/nav/logo_mob.svg", alt="mobile_logo")
                                li.burger__item
                                    a.burger__link(href='javascript:void(0)') Lorem ipsum
                                li.burger__item
                                    a.burger__link(href='javascript:void(0)') Lorem ipsum
                                li.burger__item
                                    a.burger__link(href='javascript:void(0)') Lorem ipsum 
                    .col-6
                        .nav__logo
                            a.d-flex(href="javascript:void(0)")
                                img.nav__img.d-none.d-md-block(src="images/nav/logo.svg", alt="logo")
                                img.nav__img.d-block.d-md-none(src="images/nav/mobile_logo.svg", alt="mobile logo")
                    .col-4.d-none.d-md-block
                        .nav__menu
                            ul.nav__list.d-flex.justify-content-between
                                li.nav__item
                                    a.nav__link(href="javascript:void(0)") Lorem ipsum
                                li.nav__item
                                    a.nav__link(href="javascript:void(0)") Lorem ipsum
                                li.nav__item
                                    a.nav__link(href="javascript:void(0)") Lorem ipsum
            section.header__content
                .row
                    .col-12
                        h1.header__title Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        img.header__img.mx-auto.d-block.d-sm-none(src="images/header/header_mob.png", alt="mobile image")
                        p.header__desc Sed do eiusmod tempor incididunt ut labore et dolore
                    .col-6.col-md-12    
                        p.header__subtitle Lorem ipsum:
                    .col-6.d-block.d-md-none
                        .header-mobile__buttons.d-flex.justify-content-around
                            a.header-mobile__btn(href='javascript:void(0)')
                                i.fab.fa-google-play
                            a.header-mobile__btn(href='javascript:void(0)')
                                i.fab.fa-apple
                    .col-5.mx-auto.d-none.d-md-block
                        .header__buttons.d-flex.justify-content-around
                            a.header__btn.ml-1(href='javascript:void(0)')
                                img.header__img(src="images/header/app.svg", alt="app store")
                            a.header__btn.mr-1(href='javascript:void(0)')
                                img.header__img(src="images/header/google.svg", alt="google store")
                        
                        
                            
