header.header
        .container
            nav.header__nav
                .row.justify-content-between
                    .col-2
                        .nav__logo
                            a.d-flex(href="javascript:void(0)")
                                .nav__el
                                img.nav__img(src="images/nav/logo.svg", alt="logo")
                    .col-4
                        .nav__menu
                            ul.nav__list.d-flex.justify-content-between
                                li.nav__item
                                    a.nav__link(href="javascript:void(0)") Lorem ipsum
                                li.nav__item
                                    a.nav__link(href="javascript:void(0)") Lorem ipsum
                                li.nav__item
                                    a.nav__link(href="javascript:void(0)") Lorem ipsum
            section.header__content
                .row
                    .col-12
                        h1.header__title Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        p.header__desc Sed do eiusmod tempor incididunt ut labore et dolore
                        p.header__subtitle Lorem ipsum:
                    .col-5.mx-auto
                        .header__buttons.d-flex.justify-content-around
                            a.header__btn.ml-1(href='javascript:void(0)')
                                img.header__img(src="images/header/app.svg", alt="app store")
                            a.header__btn.mr-1(href='javascript:void(0)')
                                img.header__img(src="images/header/google.svg", alt="google store")
                        
                        
                            
