header
    .header
        .container
            .row.justify-content-between
                .col-12.d-block.d-md-none
                    .burger__menu
                        input#checkbox(type='checkbox')
                        label.burger__button(for='checkbox')
                            span
                        ul.burger__list
                            li.burger__logo
                                a.d-flex.justify-content-center(href="javascript:void(0)")
                                    img.nav__img(src="images/nav/mobile_logo.svg", alt="mobile_logo")
                            li.burger__item
                                a.burger__link(href='javascript:void(0)') Lorem ipsum
                            li.burger__item
                                a.burger__link(href='javascript:void(0)') Lorem ipsum
                            li.burger__item
                                a.burger__link(href='javascript:void(0)') Lorem ipsum 
                .col-md-4
                    .nav__logo
                        a.d-flex(href="javascript:void(0)")
                            img.nav__img.d-none.d-md-block(src="images/nav/logo.svg", alt="logo")
                            img.nav__img.d-block.d-md-none(src="images/nav/mobile_logo.svg", alt="mobile logo")
                .col-md-8.col-lg-6.col-xl-4.d-none.d-md-block
                    .nav__menu
                        ul.nav__list.d-flex.justify-content-between
                            li.nav__item
                                a.nav__link(href="javascript:void(0)") Lorem ipsum
                            li.nav__item
                                a.nav__link(href="javascript:void(0)") Lorem ipsum
                            li.nav__item
                                a.nav__link(href="javascript:void(0)") Lorem ipsum
