.nav {
  &__menu {
    margin-top: -3px;
  }

  &__img {
    margin-left: 2px;
  }

  &__el {
    content: '';
    display: block;
    width: 43px;
    height: 43px;
    background-color: #c4c4c4;
    border-radius: 50%;

    @media screen and (max-width: 575px) {
      width: 40px;
      height: 40px;
      margin-left: 11px;
    }
  }

  &__list {
    margin-left: 40px;
  }
  &__link {
    font-weight: 600;
    font-size: 18px;
    line-height: 48px;
    color: white;
    transition: all 0.3s linear;

    &:hover {
      text-decoration: none;
      color: #0dc78f;
    }
  }
}

.header {
  background: url('../images/header/header.png') 50% 0% / cover no-repeat;

  @media screen and (max-width: 575px) {
    background-image: none;
  }
  &__nav {
    padding-top: 32px;
    @media screen and (max-width: 575px) {
      padding-top: 0;
    }
  }
  &__title {
    padding-left: 3px;
    margin-top: 158px;
    font-weight: 600;
    font-size: 52px;
    line-height: 71px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    color: white;

    @media screen and (max-width: 575px) {
      font-size: 24px;
      line-height: 33px;
      text-align: left;
      padding-left: 0;
      margin-top: 27px;
      letter-spacing: 0.3px;
    }
  }

  &__img {
    margin-top: 36px;
  }
  &__subtitle {
    margin-top: 79px;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    color: white;

    @media screen and (max-width: 575px) {
      font-size: 18px;
      line-height: 25px;
      margin-top: 38px;
      text-align: left;
      letter-spacing: 0;
      font-weight: 600;
    }
  }
  &__desc {
    margin-top: 34px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;
    color: white;
    text-align: center;

    @media screen and (max-width: 575px) {
      margin-top: 19px;
      font-weight: 300;
      font-size: 18px;
      line-height: 24px;
      color: #f7f3f2;
      text-align: left;
      margin-left: 2px;
    }
  }

  &__buttons {
    margin-top: -19px;
    padding-bottom: 291px;
  }

  &-mobile__buttons {
    margin-left: 17px;
  }
  &-mobile__btn {
    margin-top: 26px;
    width: 50px;
    height: 50px;
    display: block;
    font-size: 29px;
    color: #ffffff;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 6px;
    transition: all 0.3s linear;
    text-align: center;

    &:hover {
      transition: all 0.3s linear;
      color: #0dc78f;
      border: 1px solid #0dc78f;
    }
  }
}
#checkbox {
  visibility: hidden;
}

.burger {
  &__el {
    content: '';
    display: block;
    width: 39px;
    height: 39px;
    background-color: #c4c4c4;
    border-radius: 50%;
  }
  &__item {
    margin-top: 35px;
  }
  &__item:nth-child(2) {
    margin-top: 79px;
  }

  &__logo {
    margin-top: 22px;
  }

  &__button {
    display: flex;
    align-items: center;
    position: absolute;
    top: 34px;
    right: 29px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 2;
  }

  &__list {
    display: none;

    position: absolute;
    transition: all 0.5s linear;
    left: -100%;
    width: 100%;
    height: 393px;
    top: 0;
    list-style: none;
    text-align: center;
    background-color: #141414;
    z-index: 1;
    display: flex;
    flex-direction: column;
  }

  &__link {
    font-weight: 600;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
    color: #ffffff;
    transition: all 0.3s linear;

    &:hover {
      color: #0dc78f;
      transition: all 0.3s linear;
      text-decoration: none;
    }
  }
}

.burger__button > span,
.burger__button > span::before,
.burger__button > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  z-index: 2;
}

.burger__button > span::before {
  content: '';
  top: -6px;
}

.burger__button > span::after {
  content: '';
  top: 6px;
}

#checkbox ~ .burger__button > span {
  transition: transform 0.2s cubic-bezier(0.08, 0.81, 0.87, 0.71);
}

#checkbox:checked ~ .burger__button > span {
  transform: rotate(-135deg);
  transition: transform 0.2s cubic-bezier(0.08, 0.81, 0.87, 0.71);
}

#checkbox:checked ~ .burger__button > span::before {
  top: 0;
  transform: rotate(0deg);
}

#checkbox:checked ~ .burger__button > span::after {
  top: 0;
  transform: rotate(90deg);
}

#checkbox:checked ~ .burger__list {
  display: block;
  left: 0;
  transition: all 0.3s linear;
}

#checkbox:checked ~ .burger__list {
  visibility: visible;
}
